rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Permite la lectura pública de perfiles y categorías,
    // que son necesarios para la configuración inicial de la aplicación.
    match /(profiles|categories)/{docId} {
      allow read: if true;
      allow write: if false; // Nadie puede escribir directamente aquí.
    }
    
    // Las reglas para la colección de usuarios permanecen seguras.
    match /users/{userId}/{documents=**} {
      // Un usuario autenticado puede leer y escribir en su propia ruta de datos.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}